# Node modules
**/node_modules/

# Environment variables
**/.env

# Logs
**/*.log

# Vite build output
frontend/dist/

# macOS system files
.DS_Store

# VS Code settings 
.vscode/

# Ignore SQLite database files
**/chat.db
**/*.sqlite
**/*.db
**/*.sqlite3
